body {
    font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color:#595959;
    font-weight:400;
  }
  
  a {
    color:#39c;
    text-decoration:underline;
  }
  
  a:hover {
    color:#069;
  }
  
  ul li {
    margin-top: 5px;
  }
  
  hr {
    border:0;
    background:#e5e5e5;
    height:1.5px;
    margin:0 0 20px;
  }
  
  img {
    max-width:100%;
  }
  
  pre {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  }
  
  .wrapper {
    width:1000px;
    margin:0 auto;
    padding-top:20px;
    padding-bottom:80px;
    padding-left:30px;
    padding-right:30px;
  }
  
  .module {
    margin-top:20px;
    margin-bottom:20px;
    display: block;
  }
  
  .publication {
    margin-top:25px;
    margin-bottom:30px;
    display: block;
  }
  
  .center {
    text-align: center;
  }
  
  .left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }
  
  .fl {
    float:left;
  }
  
  .fr {
    float:right;
  }
  
  .m1 {
    width: 10%;
    display: block;
  }
  
  .m2 {
    width: 20%;
    display: block;
  }
  
  .m3 {
    width: 30%;
    display: block;
  }
  
  .m4 {
    width: 40%;
    display: block;
  }
  
  .m5 {
    width: 50%;
    display: block;
  }
  
  .m6 {
    width: 60%;
    display: block;
  }
  
  .m7 {
    width: 70%;
    display: block;
  }
  
  .m8 {
    width: 80%;
    display: block;
  }
  
  .m9 {
    width: 90%;
    display: block;
  }
  
  .top-name {
    padding-button: 5px;
  }